* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    font-family: 'Public Sans', sans-serif;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    height: 80px;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: white;
}

.header ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

.navbar {
    display: flex;
    width: 40%;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.button {
    background-image: linear-gradient(120deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    border-radius: 20px;
    width: 150px;
    height: 40px;
    color: white;
    border: none;
}

.button:hover {
    cursor: pointer;
    background-image: linear-gradient(120deg, white, hsl(136, 65%, 51%));
    color: black;
}

a {
    color: white;
}

a:hover {
    color: black;
    cursor: pointer;
}

.link {
    color: grey;
}

.link:hover {
    color: black;
    text-decoration-color: linear-gradient(120deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    font-weight: bold;
    border-bottom: hsl(136, 65%, 51%) solid 5px;
    padding-bottom: 26px;
}

.footer {
    display: flex;
    background-color: hsl(233, 26%, 24%);
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 160px;
    padding-left: 10%;
    padding-right: 10%;
}

.footer-child {
    display: flex;
    height: 100%;
    justify-content: center;
    gap: 15px;
    flex-direction: column;
}

.footer-child1 {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.footer-child2 {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    align-items: flex-end;
}

.section1 {
    display: flex;
    flex-direction: column;
    background-image: url("images/image-mockups.png"), url("images/bg-intro-desktop.svg");
    /* background-image: url("images/bg-intro-desktop.svg"); */
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: right -115px top -100px, right -100px;
    top: -120px;
    height: 400px;
    justify-content: center;
    gap: 100px;
    padding-left: 10%;
    padding-top: 5%;
    background-color: hsl(0, 0%, 98%);
}

.section1Child {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.img-1,
.img-2,
.img-3,
.img-4 {
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: auto
}

.articleChild {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: baseline;
}

.dropdown-toggle {
    display: none;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
}

.latestArticles {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: stretch;
    gap: 30px;
    padding-top: 4%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 4%;
    background-color: hsl(0, 0%, 98%)
}

.articleBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: 1vh; */
    background-color: white;
    border-radius: 10px;
}

.articleBox .span:hover {
    color: hsl(136, 65%, 51%);
    cursor: pointer;
}

.section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: hsl(220, 16%, 96%);
}

.title {
    padding-top: 3%;
    padding-left: 10%;
    background-color: hsl(220, 16%, 96%);
}

.section2Child {
    display: flex;
    align-items: stretch;
    gap: 30px;
    height: 50%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 3%;
}

.bigHeading {
    font-size: 40px;
}

.secondBoxHeading {
    font-size: 30px;
}

.content {
    color: hsl(233, 9%, 62%);
    /* padding-left: 3%; */
}

.content1 {
    color: hsl(233, 9%, 62%);
    padding: 1vh;
}

.textLine {
    width: 30%;
    color: hsl(233, 9%, 62%);
}

.footerLink:hover {
    color: hsl(136, 65%, 51%);
    cursor: pointer;
}

#check {
    z-index: 3;
}

.menu-btn {
    display: none;
    position: relative;
}

.menu-btn .main-box:hover .box .hover-box {
    display: block;
}

.menu-btn img {
    position: relative;
    right: -60%;
}

.menu-btn .box {
    text-align: center;
    margin: auto;
    height: fit-content;
    position: absolute;
    right: 5%;
    top: 70px;
    width: fit-content;
}

.menu-btn .hover-box {
    position: relative;
    display: block;
    width: 250px;
    height: 300px;
    background-color: white;
    text-align: center;
    padding: 50px;
    display: none;
    border: white 10px solid;
    border-radius: 10px;
}

.menu-btn .hover-box a {
    text-decoration: none;
    color: black;
    display: block;
    margin: auto;
    padding: 10px;
    font-size: 1.2em;
}

.icons:hover {
    cursor: pointer;
    filter: invert(68%) sepia(24%) saturate(1322%) hue-rotate(82deg) brightness(96%) contrast(86%);
}

.easyBankLogo {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(84deg) brightness(102%) contrast(101%);
}

.articleBox .span {
    font-size: 1.5em;
    padding: 0 1vh;
}

@media screen and (max-width:375px) {
    .navbar ul {
        display: none;
    }
    .header select {
        display: inline-block;
    }
    .secondBoxHeading {
        text-align: center;
    }
    .articleChild {
        justify-content: center;
        align-items: center;
    }
    .textLine {
        width: 100%;
        color: hsl(233, 9%, 62%);
    }
    .section1 {
        display: flex;
        flex-wrap: wrap;
        background-size: 80% 90%;
        background-position: 60% -250%, 160% -230%;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 30%;
        margin-bottom: 40%;
    }
    .section2Child {
        flex-wrap: wrap;
    }
    #btn1 {
        display: none;
    }
    .menu-btn {
        display: block;
    }
    .section1Child {
        padding-top: 100%;
        justify-content: center;
        align-items: center;
        padding-bottom: 5%;
    }
    .articleChild {
        flex-wrap: wrap;
    }
    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 10%;
    }
    .logo {
        align-self: center;
    }
    .footer {
        flex-wrap: wrap;
        padding-top: 5%;
        padding-bottom: 5%;
        height: 100%;
        gap: 10px;
    }
    .footer-child1,
    .footer-child2,
    .footer-child {
        align-items: center;
        width: 100%;
    }
    .logoTransactions {
        display: flex;
        justify-content: center;
    }
    .section2Child {
        justify-content: center;
    }
    .boxContent {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .section2 {
        text-align: justify;
    }
}